.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.hero .background-image {
    margin-top: 4rem;
    object-fit: cover;
    width: 100%;
    height: fit-content;
}

.hero .logo {
    position:absolute;
    left: 0;
    width: 100%;
    z-index: 1; 
}