.header {
    position: fixed;
    top: 0;
    height: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 1rem;
    margin: 0 auto;
    z-index: 2;
}

.header .nav {
    display: flex;
    gap: 35px;
}

.header .nav a {
    text-decoration: none;
    color: #F9F6E4;
    text-transform: uppercase;
    border-bottom: 0;
    height: fit-content;
    transition: border-bottom 1s ease-in-out;
}

.header .nav a:hover {
    border-bottom: 1px solid #F9F6E4;
}

.header .links {
    display: flex;
    gap: 50px;
}

.header .links img {
    position: absolute;
}

.header .links .gradient {
    position: absolute;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 100%;
}

.header .links .gradient:hover {
    opacity: 1;
}

.header .dropdown-content {
    position: absolute;
    left: 0;
    width: 100vw;
    pointer-events: none;
    opacity: 0;
    margin-top: -1rem;
    transition: all .3s ease;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.header .dropdown nav {
    padding: 1rem;
    padding-left: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #F9F6E4;
}

.header .dropdown nav a {
    color: #F9F6E4;
    text-decoration: none;
    border-bottom: 1px solid #F9F6E4;
    width: 100%;
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: 1rem;
}

.header .dropdown nav a:nth-child(1) {
    border-top: 1px solid #F9F6E4;
}

.header .dropdown nav a:last-child {
    border: none;
}

.header .dropdown img {
    cursor: pointer;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .header {
        justify-content: space-between;
        width: 85vw;
    }

    .header .dropdown-content.show {
        pointer-events: all;
        opacity: 1;
        margin-top: 0;
    }
}