.about-page .slider {
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.about-page .slider img {
    width: auto;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.about-page .bio-container {
    width: 700px;
    margin: 0 auto;
    color: #fff;
}

.about-page .bio-container h1 {
    font-size: 4em;
}

.about-page .bio-container .about-contact p {
    margin-bottom: 0;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .about-page .bio-container {
        width: 90%;
    }
}